body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/bg_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    box-shadow: inset 0px 0px 50px 25px rgba(0, 0, 0, 0.509);
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

main {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#sideContentLeft {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.253);
    height: 100%;
    backdrop-filter: blur(5px);
}

#sideContentRight {
    width: 80%;
    /* background-color: rgba(128, 255, 0, 0.485); */
    height: 100%;
    overflow:hidden
}



#side-menu-nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.side-nav-button {
    width: 150%;
    margin-block: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.737);
    padding: 2rem;
    background-size: 5%;
    background-image: url("./public/images/white_dot.png");
    background-size: 5px;
    background-repeat: repeat;
    background-blend-mode: color-burn;
    transform: translateX(-20%);
    transition: transform 330ms ease-in-out;
    text-align: end;
    outline: solid 1px white;
    backdrop-filter: blur(5px);
    box-shadow: 3px 3px 0px 3px rgb(0, 0, 0, 0.737);
    text-transform:uppercase;
    letter-spacing: 2px;
}

.side-nav-button:hover {
    transform: translateX(5%)
}




#sideContentRight {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#sideContentRightContainer {
    width: 80%;
    height: 80%;
    outline: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: start;
}


/* @keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10px 10px;
    }
} */


.black-bg {
    color: white;
    background-color: rgba(0, 0, 0, 0.648);
    background-image: url("./public/images/white_dot.png");
    background-size: 6px;
    background-repeat: repeat;
    background-blend-mode: color-burn;
    /* animation: moveBackground 0.5s linear infinite; */
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 0px 5px rgb(0, 0, 0, 0.737);
}





/**********************************************/
/**  HOME SECTION **/
/**********************************************/

.white-box-container {
    text-align: center;
    border-radius: 0.75rem;
    outline: solid 2px white;
    padding: 10px;
    margin: 10px;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.1rem;
}

p {
    font-weight: 300;
    font-size: 1rem;
}